body{
  background-color: rgb(230, 230, 230);
}
header{
  text-align: center;
  margin-bottom: 20px;
  background-image:linear-gradient( orange, white);
}

.social-icon a{
  margin-left: 10px;
  margin-right: 10px;
}

#image{
  display: inline-block;
  width: 100%;
}

.div-edit{
  padding: 5%;
  background-color: white;
  width: 80%;
  max-width: 600px;
  margin:auto;
  margin-bottom: 20px;
}

span{
  font-weight: normal;
}

td{
  padding: 10px;
}

#anchor , #work-org, #footer{
  text-decoration: none;
  color: #000;
  font-size: large;
}

#anchor:hover , #work-org:hover , #footer:hover{
  color: blue;
}

#mail:valid{
  border: none;
  outline: 2px solid green;
  border-radius: 5px;
}

#mail:invalid{
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

form:invalid .submit-button{
  opacity: 0.3;
  pointer-events: none;
}


input , #message{
  margin-top: 5px;
}

footer{
  text-align: center;
}

.button-top{
  position: fixed;
  border: none;
  right: 2rem;
  bottom: 2rem;
}

h1{
  font-size:xx-large;
}