h1{
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  color: rgb(60, 46, 139);
  padding: 5px;
  border-radius: 10px;
}

.container{
  width: 300px;
  height: 200px;
  margin: 20vh auto;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 20px;
}

.x-co, .y-co, .keypad{
  margin: 30px;
}

