body {
  margin: 0%;
}
h2 {
  text-align: center;
  margin: 1%;
  background-color: bisque;
  border-radius: 5px;
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  padding: 5px 0px;
}

.container {
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.buttons {
  text-align: center;
}

.buttons,
h3 {
  padding: 10px;
}

.line {
  width: 40%;
  height: 3px;
  margin: auto;
  margin-bottom: 15px;
  background-color: green;
}

.random-block,
.mouse-event,
.gallery {
  margin: 0px 10px;
  padding: 10px 15px;
  font-size: 100%;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 15px;
}

h3 {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.random-block:hover,
.gallery:hover,
.mouse-event:hover {
  background-color: green;
  color: white;
}
