.container p{
    min-height: 10vh;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1%;
    font-size: 19px;
    border-radius: 4px;
}

h2{
    color: rgb(199, 3, 3);
}

h2 span{
    font-size: 25px;
    font-style: oblique;
    color: green;
}

.empty-list{
    list-style-type: none;
}

ol{
    min-height: 10vh;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 19px;
    border-radius: 4px;
}

.index li{
    padding: 1%;
}

.separator{
    width: 50vh;
    height: 3px;
    margin: auto;
    background-color: rgb(0, 255, 34);
}