.container {
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 15vh;
  border-radius: 10px;
}

.container .hori-line {
  width: 50%;
  height: 3px;
  background-color: rgb(253, 0, 0);
  margin: auto;
}

.container h1 {
  text-align: center;
}

.length-style {
  color: green;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.container .char-list {
  font-size: 32px;
  width: 10%;
  margin: auto;
}

.char-list li {
  padding-left: 1px;
  color: rgb(17, 0, 255);
}

.container h1,
ol {
  padding: 5px;
}
